:root {
  --text-color: #333;

  /* heading 1 / main color */
  --main-color: #005f73;

  /*  https://smart-swatch.netlify.app/ */
  --main-color-light: #1193b2;
  --main-color-extra-light: #30d6fd;
  --main-color-dark: #003f4f;

  --viridian-green: #0a9396;

  --middle-blue-green: #94d2bd;

  --medium-champagne: #e9d8a6;

  --mahogany: #b03a03;
  --mahogany-light: #e14c06;
  --mahogany-extra-light: #fc874f;
  --mahogany-dark: #7e2901;
}

* {
  box-sizing: border-box;
}

/***** main classes  *****/

body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Rowdies", cursive;
  line-height: 1.2;
  margin: 2em 0 0.5em;
}

h1 {
  color: var(--main-color-dark);
  font-size: 4rem;
  font-weight: 900;
}

h2,
h3 {
  color: var(--main-color);
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin: 0 0 1em;
}

dt,
dd {
  margin-bottom: 1em;
}

main {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
}

figure {
  margin: 4rem 0;
}

aside {
  background-color: var(--viridian-green);
  color: #fff;
  margin-top: 6rem;
  padding: 2rem 1rem;
}

aside h2 {
  color: #fff;
  margin: 0;
}

/* CSS clip-path maker at https://bennettfeely.com/clippy/ */
footer {
  background-color: var(--main-color);
  text-align: center;
  color: #fff;
  font-family: "Rowdies", cursive;
  font-size: 2em;
  margin: 5em 0em 0em;
  padding: 6rem 0rem 6rem;
}

footer p {
  width: 50%;
  margin: 0 auto;
}

picture img {
  width: 100%;
}

/***** general link styles *****/
a:link {
  color: var(--middle-blue-green);
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: var(--main-color);
}

a:hover {
  text-decoration: underline;
}

/* if an <a> does not have an href, don't apply the hover effect */
a:not([href]):hover {
  text-decoration: none;
}

a:active,
a:focus {
  background-color: var(--middle-blue-green);
  color: #fff;
}

/***** utility styles *****/

.button {
  background-color: var(--mahogany);
  border: 2px solid #fff;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  font-family: "Rowdies", cursive;
  font-size: 14px;
  padding: 8px 30px;
  text-align: center;
  transition: all 500ms ease;
  user-select: none;
  margin: auto;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.08);
  background-color: var(--mahogany-light);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/****** form styles  *****/
.form img {
  width: 400px;
}
